@{
    var products = ViewData["Products"] as List<Product>;
    var news = ViewData["News"] as List<News>;

}
<body>
    <div class="preloader">
        <img src="~/images/preloader1.svg" style="width: 300px;height: 300px;top: 50%;position: absolute;left: 50%;margin-left: -150px;margin-top: -150px;">
    </div>
    <!-- page-wrapper start -->
    <div class="page-wrapper">
        <!-- main-slider start -->
        <div class="main-slider ms1">
            <div class="banner-carousel owl-carousel">
                <div class="ms1-item">
                    <img src="images/123.png" alt="">
                    <div class="pos-r g-table">
                        <div class="d-middle">
                            <div class="container crop">
                                <div class="item-inner">
                                    <span class="slider-icon">
                                        <img src="images/logo_white.svg" alt="">
                                    </span>
                                    <p class="f2 c3 fw-4">Специально для вас</p>
                                    <div class="head-lines f1 cw mb-55">
                                        <h1 class="fw-7">Картофель «черри»</h1>
                                        <h1 class="fw-7">в пакете </h1>
                                        <h1 class="fw-7">по 1 кг.</h1>
                                    </div> <a asp-action="Product" class="thm-btn hvr-3 bg3 c4">Попробовать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ms1-item">
                    <img src="images/slider2.png" alt="">
                    <div class="pos-r g-table">
                        <div class="d-middle">
                            <div class="container crop">
                                <div class="item-inner">
                                    <span class="slider-icon">
                                        <img src="images/logo_white.svg" alt="">
                                    </span>
                                    <p class="f2 c3 fw-4">Лучшие овощи для вас</p>
                                    <div class="head-lines f1 cw mb-50">
                                        <h1 class="fw-7">Фермерское</h1>
                                        <h1 class="fw-7">хозяйство</h1>
                                        <h1 class="fw-7">«Нововита»</h1>
                                    </div> <a asp-action="About" class="thm-btn hvr-3 bg3 cw">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-slider end -->
        <!-- page-content start -->
        <div class="page-content" style="margin-top: -20px;">
            <div class="hotline">
                <div class="txt-row">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="item">
                                    <div class="section-header">
                                        <h2 class="f2 c1">"Наша деятельность"</h2>
                                        <h1 class="f1 fw-7 c4">Содействие здоровой и устойчивой жизни</h1>
                                    </div>
                                    <p class="f1 fw-4 mt-45 c4">Качественный продукт с отличными вкусовыми качествами, витамины от самой природы, ощущение того, что твой труд измерим и полезен – именно это сподвигло Главу хозяйства на то, чтобы в 2001 году создать фермерское хозяйство. Прошло уже почти 20 лет и фермерское хозяйство стало одним из крупнейших в Республике Беларусь. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contac-row mt-60">
                    <div class="container">
                        <div class="row pos-r">
                            <div class="col-lg-6 pos-s col-lg-push-6">
                                <div class="vdo">
                                    <img src="images/product.jpg" alt="">
                                    <a href="https://www.youtube.com/watch?v=5Mko8G7ikWs" class="play-button html5lightbox">
                                        <i class="fa fa-play c4"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-lg-pull-6">
                                <div class="item clearfix">
                                    <div class="icon-box">
                                        <span>
                                            <i class="nivio-phone-call"></i>
                                        </span>
                                    </div>
                                    <div class="txt-box f1">
                                        <h2 class="fw-6 cw">По вопросам звоните на:<span><a href="tel:+375333230407" class="c3 fw-7">+375333230407</a></span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- facts start -->
            <div class="facts-area text-center text-capitalize">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="fact-container mb-sm-50">
                                <div class="single-fact">
                                    <span class="nivio-recycle"></span>
                                    <h3 class="fact-title c3 f2 fw-3 text-capitalize">Recycling</h3>
                                    <div class="numscroller fact-num cw f1" data-slno='15' data-min="0" data-max="5493" data-delay='30' data-increment="5">0</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="fact-container mb-sm-50">
                                <div class="single-fact">
                                    <span class="nivio-handshake"></span>
                                    <h3 class="fact-title c3 f2 fw-3 text-capitalize">Volunteer</h3>
                                    <div class="numscroller fact-num cw f1" data-slno='15' data-min="0" data-max="1750" data-delay='30' data-increment="5">0</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="fact-container mb-xs-50">
                                <div class="single-fact">
                                    <span class="nivio-growth"></span>
                                    <h3 class="fact-title c3 f2 fw-3 text-capitalize">Projects</h3>
                                    <div class="numscroller fact-num cw f1" data-slno='15' data-min="0" data-max="2458" data-delay='30' data-increment="5">0</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="fact-container">
                                <div class="single-fact">
                                    <span class="nivio-key"></span>
                                    <h3 class="fact-title c3 f2 fw-3 text-capitalize">Comunity</h3>
                                    <div class="numscroller fact-num cw f1" data-slno='35' data-min="0" data-max="1670" data-delay='30' data-increment="5">0</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="volunteer mt-100">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="gallery-carousel owl-carousel">
                            @foreach (var prod in products)
                            {
                                <div class="gallery-single">
                                    <a asp-action="SingleProduct" asp-route-id="@prod.Id">
                                        <img src="images/products/@prod.MainImage" alt="">
                                        <h3>@prod.Name</h3>
                                        <p class="price">Цена: <strong>@prod.Cost p</strong></p>
                                        <p class="c1 availability">в наличии</p>
                                    </a>
                                </div>
                            }


                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="volunteer-banner">
                            <div class="section-header">
                                <h2 class="f2 c3">Специально для вас</h2>
                                <h1 class="f1 fw-7 cw">Свежие овощи</h1>
                            </div>
                            <p class="txt-normal cw">Место для формы обратной связи и всевозможных акций. Отправьте нам свой вопрос! Мы постараемся ответить как можно быстрее.</p>
                            <a href="#"  data-toggle="modal" data-target="#exampleModal" class="thm-btn hvr-2 bg4">Оставить заявку</a>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="col-sm-12">
                        <div class="volunteer-tab clearfix">
                            <div class="section-header text-center">
                                <h2 class="f2 c1">Почему именно мы?</h2>
                                <h1 class="f1 fw-7 c4">Причины покупать у нас</h1>
                            </div>
                            <ul class="tab-list list-inline text-center">
                                <li>
                                    <a href="#t1" data-toggle="tab" class="fw-5">
                                        <i class="nivio-shirt c1"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#t2" data-toggle="tab" class="fw-5">
                                        <i class="nivio-newspaper c1"></i>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#t3" data-toggle="tab" class="fw-5">
                                        <i class="nivio-apple c1"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#t4" data-toggle="tab" class="fw-5">
                                        <i class="nivio-recycle-solid c1"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#t5" data-toggle="tab" class="fw-5">
                                        <i class="nivio-light-bulb c1"></i>
                                    </a>
                                </li>

                            </ul>
                            <div class="tab-content text-center">
                                <div class="tab-pane fade" id="t1">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-0">
                                        <p class="txt-normal">Начинаем отгружать продукцию с первых чисел июля и заканчиваем в апреле-мае Вы сможете иметь стабильный объем со стабильным качеством – ведь на всей цепочке производства у нас работают и автоматизированная техника, и дополнительно инспектируют наши сотрудники. </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="t2">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-0">
                                        <p class="txt-normal">Наш продукт упакован только в качественную и сертифицированную упаковку – это позволяет Вам привлечь внимание потребителя и увеличить объем продаж.</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="t3">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-0">
                                        <p class="txt-normal">Каждый раз искать поставщика и каждый раз выезжать и проверять груз – потом переживать – а качественный ли там продукт – это Вам знакомо? У нас введены стандарты и мы работаем по стандартам круглый год. Вы можете быть уверены – продукция придет согласно заказу, даже на случай форс-мажора – мы заменим продукцию в кратчайшие сроки.</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade in active" id="t4">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-0">
                                        <p class="txt-normal">35 собственных автомобилей с рефрижераторами позволяют гарантировать поставку в согласованный сторонами срок.</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="t5">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-0">
                                        <p class="txt-normal">Заказы принимаем быстро и оперативно.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="brands py-100">
                <div class="container">
                    <div class="brand-carousel owl-carousel">
                        <div class="brandItem text-center">
                            <img src="images/store/1.jpg" alt="">
                        </div>
                        <div class="brandItem text-center">
                            <img src="images/store/2.jpg" alt="">
                        </div>
                        <div class="brandItem text-center">
                            <img src="images/store/3.jpg" alt="">
                        </div>
                        <div class="brandItem text-center">
                            <img src="images/store/4.jpg" alt="">
                        </div>
                        <div class="brandItem text-center">
                            <img src="images/store/5.jpg" alt="">
                        </div>
                        <div class="brandItem text-center">
                            <img src="images/store/6.jpg" alt="">
                        </div>
                        <div class="brandItem text-center">
                            <img src="images/store/7.jpg" alt="">
                        </div>
                        <div class="brandItem text-center">
                            <img src="images/store/8.jpg" alt="">
                        </div>
                        <div class="brandItem text-center">
                            <img src="images/store/9.jpg" alt="">
                        </div>
                        <div class="brandItem text-center">
                            <img src="images/store/10.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimony mt-md pt-md">
                <div class="container">
                    <div class="section-header text-center">
                        <h2 class="f2 c1">рекомендации</h2>
                        <h1 class="f1 fw-7 c4">Что говорит клиенты</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-offset-0 col-xs-offset-0">
                            <div class="testimonial owl-carousel">
                                <div class="pw-item f1 text-center">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe aliquam voluptate consequatur, rem minima ad id consectetur, accusantium, esse eligendi cum facere suscipit quia nisi illum debitis?</p>
                                    <img src="images/testimony/01.png" alt="">
                                    <p class="name fw-7 c1">Саша Белый</p>
                                </div>
                                <div class="pw-item f1 text-center">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nisi voluptatem maxime dolorem a qui. Eius voluptatibus eum, natus rem non libero, rerum earum ab provident, quas iusto!</p>
                                    <img src="images/testimony/02.png" alt="">
                                    <p class="name fw-7 c1">Юша Черный</p>
                                </div>
                                <div class="pw-item f1 text-center">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos sit velit non, omnis possimus ad, eaque officia, voluptatibus dolorum, quae laboriosam magni repellat dicta magnam est similique vitae.</p>
                                    <img src="images/testimony/03.png" alt="">
                                    <p class="name fw-7 c1">Петя, просто Петя</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog">
                <div class="container">
                    <div class="section-header text-center">
                        <h2 class="f2 c1">Новости и статьи</h2>
                        <h1 class="f1 fw-7 c4">Последние новости и обновления</h1>
                    </div>
                    <div class="blog-post owl-carousel">

                        @foreach (var blog in news)
                        {
                            <div class="col-md-4">
                                <div class="blog-card" style="min-height:300px;">
                                    <div class="blog-text" style="background: url(images/news/@blog.Image);background-size: cover;">
                                        <div class="date f1 bg3">
                                            <p class="fw-6">@blog.Date.ToString("MMM")</p>
                                            <p class="fw-7">@blog.Date.Day</p>
                                        </div>
                                        <a asp-action="SingleNews" asp-route-id="@blog.Id" class="title f1 fw-7 cw">
                                            <span>@blog.Title</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- page-wrapper end -->
    <div class="back2Top bg1">
        <i class="fa fa-angle-up fa-2x cw"></i>
    </div>

</body>

