@model IEnumerable<Novovita.by.Models.News>
<body>
    <div class="preloader">
        <img src="~/images/preloader1.svg" style="width: 300px;height: 300px;top: 50%;position: absolute;left: 50%;margin-left: -150px;margin-top: -150px;">
    </div>
    <!-- page-wrapper start -->
    <div class="page-wrapper">
        <!-- op-header start -->
        <div class="op-header background">
            <div class="section-header text-center">
                <h2 class="f2 c3">news & articles</h2>
                <h1 class="f1 fw-7 cw">Recent posts and updates</h1>
            </div>
        </div>
        <!-- op-header end -->
        <!-- page-content start -->
        <div class="page-content">
            <div class="news-page pt-90 pb-85">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-8">
                            @foreach (var news in Model)
                            {
                                <div class="col-lg-6 col-sm-6 my-30">


                                    <div class="news-card">
                                        <div class="card-thumb mb-15">
                                            <div class="date f1 c4">
                                                <p>@news.Date.ToString("MMM")</p>
                                                <p>@news.Date.Day</p>
                                            </div>
                                            <img src="~/images/news/@news.Image" alt="">
                                        </div>
                                        <div class="card-txt">

                                            <h2 class="card-title f1 fw-7">
                                                <a a asp-action="SingleNews" asp-route-id="@news.Id">@news.Title</a>
                                            </h2>
                                            <p class="txt-normal">@news.Discription</p>
                                        </div>
                                    </div>

                                </div>
                            }
                        </div>


                        <div class="col-md-4">
                            <div class="news-sidebar p-40 f1">
                                <div class="gallery-area clearfix">
                                    <div class="elfsight-app-3cb56eb4-0d4c-4071-8ec6-628471b34745"></div>
                                </div>
                                <div class="Close-spam"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="feedback_form mb-100 text-center">
            <div class="section-header text-center pb-25">
                <h2 class="f2 c3">есть вопросы?</h2>
                <h1 class="f1 fw-7 cw pb-20">Свяжитесь с нами</h1>
                <a href="tel:+375333230407">+375333230407  </a> | <br class="hidden-md hidden-lg">
                <a href="tel:+375295425688"> +375 295425688</a>

            </div>
            <a href="#" class="thm-btn hvr-2 bg4">Оставить заявку</a>
        </div>
    </div>
    <!-- page-content end -->
    <!-- footer start -->
    <!-- footer end -->
    </div>
    <!-- page-wrapper end -->
    <div class="back2Top bg1">
        <i class="fa fa-angle-up fa-2x cw"></i>
    </div>


</body>
