@{ 
    var news = ViewData["News"] as List<News>;
    var single = ViewData["Single"] as News;
}

<body>
    <div class="preloader">
        <img src="~/images/preloader1.svg" style="width: 300px;height: 300px;top: 50%;position: absolute;left: 50%;margin-left: -150px;margin-top: -150px;">
    </div>
    <!-- page-wrapper start -->
    <div class="page-wrapper">
        <!-- op-header start -->
        <div class="op-header background">
            <div class="section-header text-center">
                <h2 class="f2 c3">новости и статьи</h2>
                <h1 class="f1 fw-7 cw">новости и статьи</h1>
            </div>
        </div>
        <!-- op-header end -->
        <!-- page-content start -->
        <div class="page-content">
            <div class="news-single">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="single-news-content">
                                <div class="card-thumb mb-25">
                                    <div class="date f1 c4">
                                        <p>@single.Date.ToString("MMM")</p>
                                        <p>@single.Date.Day</p>
                                    </div>
                                    <img src="../../images/news/@single.Image" alt="">
                                </div>
                                <div class="card-txt">

                                    <h2 class="card-title f1 fw-7">
                                        @single.Title
                                    </h2>
                                </div>
                                <p class="txt-normal">@single.Discription</p>
                                <div class="news-footer pb-55">
                                    @*<div class="share-news">*@
                                    <div class="ya-share2" data-services="vkontakte,facebook,twitter"></div>
                                    @*<ul class="list-inline text-right">
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </li>*@
                                    @*</ul>*@
                                </div>
                                <div class="clr"></div>

                            </div>
                            <div class="blog-post owl-carousel pb-50">
                                @foreach (var newslist in news)
                                {
                                    <div class="col-md-4">
                                        <div class="blog-card">
                                            <a asp-action="SingleNews" asp-route-id="@newslist.Id">
                                                <img src="../../images/news/@newslist.Image" alt="">
                                            </a>
                                            <div class="blog-text">
                                                <div class="date f1 bg3">
                                                    <p class="fw-6">@newslist.Date.ToString("MMM")</p>
                                                    <p class="fw-7">@newslist.Date.Day</p>
                                                </div>
                                                <a href="single-news.html" class="title f1 fw-7 cw">
                                                    <span>@newslist.Title </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="news-sidebar p-40 f1">
                                <div class="gallery-area clearfix">
                                    <div class="elfsight-app-3cb56eb4-0d4c-4071-8ec6-628471b34745"></div>
                                </div>
                                <div class="Close-spam"></div>
                            </div>
                        </div>
                    </div>
                        
                    </div>
                </div>
            </div>
            <div class="feedback_form mb-100 text-center">
                <div class="section-header text-center pb-25">
                    <h2 class="f2 c3">есть вопросы?</h2>
                    <h1 class="f1 fw-7 cw pb-20">Свяжитесь с нами</h1>
                    <a href="tel:+375333230407">+375333230407  </a> | <br class="hidden-md hidden-lg">
                    <a href="tel:+375295425688"> +375 295425688</a>

                </div>
                <a href="#" class="thm-btn hvr-2 bg4">Оставить заявку</a>
            </div>
        </div>
        <!-- page-content end -->
        <!-- footer start -->
       
    </div>
    <!-- page-wrapper end -->
    <div class="back2Top bg1">
        <i class="fa fa-angle-up fa-2x cw"></i>
    </div>

</body>

