@model Novovita.by.Models.Product
@{ 
    var products = ViewData[nameof(Product)] as List<Product>;
    var next = ViewData["next"] as Product;
    var previos = ViewData["previos"] as Product;
}

<div class="preloader">
    <img src="~/images/preloader1.svg" style="width: 300px;height: 300px;top: 50%;position: absolute;left: 50%;margin-left: -150px;margin-top: -150px;">
</div>
<div class="page-wrapper">
   
    <!-- op-header end -->
    <!-- page-content start -->
    <div class="page-content">
        <section class="o-band o-band--small pt-50">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-7 mt-20">
                                <a asp-action="Product">
                                    <h2 class="f1 fw-7 c4">@Model.Category.Name</h2>
                                </a>
                            </div>
                            <div class="col-md-5 offset-lg-1 text-right">
                                <a href="#" class="thm-btn hvr-2 bg4">есть вопросы?  Контакты</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="single-project">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="project-sidebar">
                            <div class="project-single">
                                <div class="img-box">
                                    <img src="~/images/products/@Model.MainImage" alt="">
                                </div>
                                <div class="project-card text-center">
                                    @if (Model.Count > 0)
                                    {
                                        <p class="c1 pb-20">в наличии</p>
                                    }
                                    else 
                                    {
                                    <p class="c1 pb-20">нет наличии</p>
                                    }

                                    <a href="#" class="thm-btn hvr-3 bg3 c4">Оставить заявку</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="single-project-content">
                            <div class="section-header mb-30">
                                <h1 class="f1 fw-7 row ">@Model.Name</h1>
                            </div>
                            <h3 class="price mb-10 f1 fw-7">240 руб.</h3>
                            <p class="txt-normal">
                              @Model.Discription
                            </p>
                            <div class="content-footer mt-45">
                                <div class="content-nav mt-60 f1">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <h2>
                                                <a asp-action="SingleProduct" asp-route-id="@previos.Id" class="fw-6 c4">
                                                    <i class="fa fa-angle-left pr-10"></i>
                                                   Предыдущий 
                                                </a>
                                            </h2>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <h2>
                                                <a  asp-action="SingleProduct" asp-route-id="@next.Id" class="fw-6 c4">
                                                    Следующий
                                                    <i class="fa fa-angle-right pl-10"></i>
                                                </a>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="feedback_form mt-00 mb-100 text-center">
            <div class="section-header text-center pb-25">
                <h2 class="f2 c3">есть вопросы?</h2>
                <h1 class="f1 fw-7 cw pb-20">Свяжитесь с нами</h1>
                <a href="tel:+375333230407">+375333230407  </a> | <br class="hidden-md hidden-lg">
                <a href="tel:+375295425688"> +375 295425688</a>

            </div>
            <a href="#" class="thm-btn hvr-2 bg4">Оставить заявку</a>
        </div>
    </div>
    <!-- page-content end -->
    <!-- footer start -->
    
    <!-- footer end -->
</div>
<!-- page-wrapper end -->
<div class="back2Top bg1">
    <i class="fa fa-angle-up fa-2x cw"></i>
</div>