@{ 
    var categories = ViewData["Categories"] as List<Category>;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] ФХ "Новицких"</title>

    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ====== main style start ====== -->
    <link rel="shortcut icon" href="/images/ico.ico">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/effect.css">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">

</head>
<body>
    <header class="header1">
        <nav class="navbar nav-solid mb-0">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                        <span></span>  <span></span>  <span></span>
                    </button>
                    <a class="navbar-brand" asp-action="Index">
                        <img src="/images/logo.jpg" alt="logo">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="nav navbar-nav f1 mainMenu text-capitalize navbar-left">
                        <li>
                            <a asp-action="Product">Продукция</a>
                        </li>

                        <li>
                            <a asp-action="About">О компании</a>
                        </li>

                        <li>
                            <a asp-action="About">Партнерам</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="News">Блог</a>
                        </li>
                        <li>
                            <a asp-action="Contacts">Контакт</a>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav f1 mainMenu text-capitalize navbar-right">

                        <li style=""><a data-toggle="modal" data-target="#exampleModal" href="#" style="padding: 10px 15px !important;background: #83bb25 !important;display: inline-block;margin-top: -10px;color: white;border-radius: 5px;">Написать нам</a></li>
                        <li style="margin-top:-15px"><a href="tel:+375333230407" style="margin-bottom: 7px;">+375333230407</a><a href="tel:+375295425688">+375 295425688</a></li>
                        <li class="hidden-md" style="margin-top:-15px"><a style="margin-bottom: 7px;">market@novovita.by</a><a>export@novovita.by</a></li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()
    <footer>
        @Html.Partial("ContactForm")
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="footer-contact f1 col-md-12">
                            <a asp-action="Index">
                                <img src="/images/logo.svg" alt="" style="width:150px">
                            </a>
                            <ul class="list-inline">
                                <li>
                                    <a href="#"><i class="c4 fa fa-vk"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/Novovita365/"><i class="c4 fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/novovita365/"><i class="c4 fa fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCAFZ6wBjdfo0X8ERZIkQM-A"><i class="c4 fa fa-youtube-play"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5 clearfix mb-sm-50">
                        <div class="fooler-col f1">
                            <h2 class="footer-title">Карта сайта</h2>
                            <ul>
                                <li>
                                    <a asp-action="About">О нас</a>
                                </li>
                                <li>
                                    <a asp-action="Product">Продукция</a>
                                </li>
                                <li>
                                    <a asp-action="News">Блог</a>
                                </li>
                                <li>
                                    <a asp-action="Contacts">Контакты</a>
                                </li>

                            </ul>
                        </div>
                        <div class="fooler-col f1">
                            <h2 class="footer-title">Категории продукции</h2>
                            <ul>
                                @foreach (var category in categories)
                                {
                                    <li>
                                        <a asp-action="Product">@category.Name</a>
                                    </li>
                                }

                            </ul>
                        </div>

                    </div>
                    <div class="col-md-4 mb-sm-50">
                        <div class="footer-contact">
                            <h2 class="footer-title">Контакты</h2>
                            <h3>ЮР. АДРЕС: <br>225644 Г.ЛУНИНЕЦ, УЛ. БАЖЕНОВОЙ, 6AБРЕСТСКАЯ ОБЛАСТЬ, РЕСПУБЛИКА БЕЛАРУСЬ. <br>УНП 290118689</h3>
                            <ul>
                                <li><i class="fa fa-envelope"></i> needhelp@novio.com</li>
                                <li><i class="fa fa-phone-square"></i>+375 33 323 04 07 <br><i class="fa fa-phone-square"></i>+375 29 542 56 88</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-bottom f1">
            <div class="container">
                <p>NovoVita © 2019 | Все права защищены</p>
            </div>
        </div>
    </footer>
    @*<— BEGIN JIVOSITE CODE {literal} —>*@
        <script type='text/javascript'>
            (function () {
                var widget_id = 'rPF173c8qg'; var d = document; var w = window; function l() {
                    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/' + widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);
                } if (d.readyState == 'complete') { l(); } else { if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } }
            })();</script>
        @*<!— {/literal} END JIVOSITE CODE —>*@
        <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
        <script src="//yastatic.net/share2/share.js"></script>
        <script src="/js/site.js"></script>
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <script src="~/js/jquery-1.12.4.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTPlX-43R1TpcQUyWjFgiSfL_BiGxslZU"></script>
        <script src="~/js/html5lightbox/html5lightbox.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/owl.carousel.js"></script>
        <script src="~/js/numscroller-1.0.js"></script>
        <script src="~/js/jquery.countdown.min.js"></script>
        <script src="~/js/jquery.enllax.min.js"></script>
        <script src="~/js/isotope.js"></script>
        <script src="~/js/magnific-popup.js"></script>
        <script src="~/js/main.js"></script>

        @RenderSection("Scripts", required: false)
</body>
</html>
